body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 200%;
}

ul{
    list-style-type:none;
    font-size: 80%;
}

#titolo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 45%;
    margin-left: 6%;
}

h1{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 150%;
}

p{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 120%;
}

#sfondo{
    position: absolute;
    left: 3%;
    top: 0;
    width: 94%;
    z-index: -100;
}

#stampa{
    margin: 0 0 0 80%;
    background-color: #63BFBA;
}

#stampa:hover{
    filter: brightness(90%);
}

#stampa img{
    width: 40%;
}

#indietro{
    margin: 0 0 0 89.3%;
}

#indietro img{
    width: 6%;
    background-color: #63BFBA;
    border: gray 1px solid;
    border-radius: 6px;
}

#indietro:hover{
    filter: brightness(90%);
}

#indietro:hover img{
    filter: brightness(90%);
}