/*REGOLE GENERALI: valgono per tutte le pagine*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.grassetto{
    font-style: normal;
    font-weight: bold;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}


/*NAV e menu*/

nav{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    margin-bottom: 1%;
}


#apri_menu{
    display:none;
    z-index: 1001;
}


#menu2{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10% 0 0 0;
    background-color: white;
    z-index: 1000;
    list-style-type: none;
}


#menu2 li{
    text-align: center;
    padding: 5% 0 5% 0; 
}

#menu2 li a{
    position: relative;
    font-size: 200%;
    text-decoration: none;
    color: black;
}

#menu2 a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #000;
    transition: width .3s;
}

#menu2 a:hover::after {
    width: 100%;
}

#logo{
    grid-column: 1/2;
    width: 80%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_logo{
    width: 100%;
}

#menu{
    grid-column: 2/3;
    width: 90%;
    text-align: center;
    padding-top: 3.5%;
}

#menu li{
    display: inline;
    padding: 4.5%;
}

#menu a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 140%;
}

#menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #000;
    transition: width .3s;
}

#menu a:hover::after {
    width: 100%;
}


/*FRECCIA_SU*/

#freccia_su{
    display: block;
    opacity: 0;
    width: 3%;
    position: fixed;
    bottom: 20%;
    right: 0.2%;
    z-index: 100;
    padding: 1%;
}

#freccia_su img{
    width: 100%;
}

#freccia_su:hover img{
    filter: brightness(500%);
}


/*FOOTER*/

footer{
    margin-top: 5%;
    padding: 0 10% 0 10%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}

#logo2{
    grid-column: 2/3;
}

#logo2 img{
    width: 75%;
    align-self: center;
}

footer p{
    grid-column: 1/2;
    align-self: center;
}

footer p em{
    font-size: 115%;
    font-weight: bold;
    font-style: normal;
}



/*MEDIA QUERIES*/

@media screen and (min-width:300px) and (max-width:619px){
    #nav{
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: auto;
        margin-bottom: 1%;
    }

    #logo{
        grid-column: 1/2;
        width: 200%;
        margin-left: 50%;
    }

    #img_logo{
        width: 100%;
    }

    #menu{
        display: none;
    }

    #apri_menu{
        display: block;
        grid-column: 2/3;
        filter: brightness(0);
        width: 15%;
        margin-left: 80%;
        margin-top: 7%;
    }

    #apri_menu:hover{
        filter: brightness(150%);
    }
    

    #avanti, #indietro, #giu{
        width: 10%;
    }

    #freccia_su{
        width: 5%;
    }

    #link1{
        font-size: 150%;
    }

    #testo p, #come_arrivare p, #didascalia, #testo3 p, #about p{
        font-size: 130%;
        text-align: center;
    }

    #about pre{
        font-size: 130%;
    }

    .freccia{
        width: 5%;
    }

    #mappa{
        width: 80%;
        height: 250px;
        margin: 2% 10% 2% 10%;
    }

    #testo2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        align-items: center;
    }

    #testo2 h1{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    
    #palco{
        grid-column:1/2 ;
        grid-row: 2/3;
    }

    #illuminazione{
        grid-column:1/2 ;
        grid-row:3/4 ;
    }

    #console{
        grid-column:1/2 ;
        grid-row:4/5 ;
    }

    #didascalia{
        grid-column: 2/3;
        grid-row: 2/5;
    }

    #eventi{
        margin-top: 5%;
    }

    #eventi article{
        border-radius: 0;
    }

    #eventi article div{
        font-size: 90%;
        left: 55%;
        top: 2%;
    }

    #eventi h5{
        font-size: 120%;
        left: 51.5%;
        top: 65%;
    }

    .euro{
        font-size: 160%;
    }

    #eventi a{
        margin: 3% 0 3% 0;
        border-radius: 0;
    }

    .foto{
        width: 50%;
        border-radius: 0;
    }

    #eventi h1{
        font-size: 150%;
    }

    #come_arrivare h1, #testo2 h1, #testo3 h1, #about h1{
        text-align: center;
        font-size: 150%;
    }

    #t1,#t2,#t3{
        font-size: 90%;
    }

    #N, #N2, #tot{
        font-size: 140%;
    }

    #bus, #auto, #palco_icona, #parcheggio {
        display: none;
    }

    /*PAGINA PRENOTA*/

    form{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
        margin: 0 2% 40% 2%;
    }

    form p, form span{
        font-size: 130%;
    }
    
    .icona, .icona_nuovo{
        width: 20%;
    }

    #dati input{
        width:150px
    }

    #concerti{
        grid-row: 1/2;
        grid-column: 1/3;
    }

    #num{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #n_biglietti{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #dati{
        grid-row: 3/4;
        grid-column: 1/3;
    }

    #metodo_pagamento{
        grid-row: 4/5;
        grid-column: 1/3;
    }

    #n_carta_{
        grid-row: 5/6;
        grid-column: 1/3;
    }

    #n_carta{
        grid-row: 6/7;
        grid-column: 1/3;
    }

    #posto{
        grid-row: 7/8;
        grid-column: 1/3;
    }

    #selezione_posto{
        grid-row: 8/9;
        grid-column:1/3;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }

    #selezione_posto img{
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
    }

    #settori{
        grid-row: 2/3;
        grid-column: 1/2;
        margin: 0;
    }

    #prz{
        grid-row: 9/10;
        grid-column: 1/3;
    }

    #prezzo{
        grid-row: 10/11;
        grid-column: 1/3;
    }

    #paga{
        grid-row: 11/12;
        grid-column: 1/3;
    }

    #carrello{
        display: none;
    }

    #controllo{
        grid-row: 12/13;
        width: 0px;
    }

    #contenitore2 img{
        width: 35%;
    }

    /*FINE PAGINA PRENOTA*/

    footer p{
        font-size: 60%;
    }

    footer #logo2 img{
        margin: 25%;
    }

    @media screen and (max-width:499px){
        #eventi article div{
            font-size: 90%;
        }

        #t1,#t2,#t3{
            font-size: 80%;
        }
    
        #N, #N2, #tot{
            font-size: 100%;
        }

        #link1{
            font-size: 130%;
        }
    }

    @media screen and (max-width:349px) {
        #eventi article div{
            font-size: 80%;
        }
    }

    @media screen and (max-width:401px) {
        #didascalia{
            font-size: 90%;
        }
        
        #p1,#p2{
            font-size: 90%;
        }

        #eventi h5{
            font-size: 90%;
        }
    
        .euro{
            font-size: 130%;
        }
    }
}



@media screen and (min-width:620px){

    #menu{
        width: 85%;
    }

    #menu a{
        font-size: 60%;
    }

    #link1{
        font-size:120% ;
    }

    #testo p, #come_arrivare p, #didascalia, #testo3 p, #about p, #about pre{
        font-size: 85%;
    }

    #eventi article div{
        font-size:70%;
    }

    #eventi h1{
        font-size: 140%;
    }

    #eventi h5{
        font-size: 90%;
        left: 50%;
        top: 20%;
    }

    .euro{
        font-size: 170%;
    }

    #come_arrivare h1, #testo2 h1, #testo3 h1, #about h1{
        font-size: 140%;
    }

    #t1,#t2,#t3{
        font-size: 100%;
    }

    #N,#N2,#tot{
        font-size: 170%;
    }

    #mappa{
        width: 70%;
        height: 300px;
        margin: 2% 15% 2% 15%;
    }

    form{
        margin: 0 10% 25% 10%;
    }

    form p, form span{
        font-size: 100%;
    }

    input, select{
        font-size: 100%;
        height: 45px;
        width: 100%;
    }

    #prezzo{
        font-size: 300%;
    }



    footer p{
        font-size: 70%;
    }
}




@media screen and (min-width:700px){

    #menu{
        width: 90%;
    }

    #menu a{
        font-size: 70%;
    }

    #link1{
        font-size:130% ;
    }

    #testo p, #come_arrivare p, #didascalia, #testo3 p, #about p, #about pre{
        font-size: 100%;
    }

    #eventi article div{
        font-size: 80%;
    }

    #eventi h1{
        font-size: 160%;
    }

    #come_arrivare h1, #testo2 h1, #testo3 h1, #about h1{
        font-size: 160%;
    }

    footer p{
        font-size: 80%;
    }
}



@media screen and (min-width:800px){

    #menu{
        width: 90%;
    }

    #menu a{
        font-size: 80%;
    }

    #link1{
        font-size:150% ;
    }

    #testo p, #come_arrivare p, #didascalia, #testo3 p, #about p, #about pre{
        font-size: 120%;
    }

    #eventi article div{
        font-size: 90%;
    }

    #eventi h1{
        font-size: 190%;
    }

    #eventi h5{
        font-size: 120%;
    }

    .euro{
        font-size: 180%;
    }

    #come_arrivare h1, #testo2 h1, #testo3 h1, #about h1{
        font-size: 190%;
    }

    #t1,#t2,#t3{
        font-size: 120%;
    }

    #N,#N2,#tot{
        font-size: 200%;
    }

    form p, form span{
        font-size: 110%;
    }

    input, select{
        font-size: 110%;
        height: 50px;
        width: 100%;
    }

    #prezzo{
        font-size: 320%;
    }

    footer p{
        font-size: 95%;
    }
}



@media screen and (min-width:950px){

    #menu{
        width: 90%;
    }

    #menu a{
        font-size: 100%;
    }

    #link1{
        font-size:170% ;
    }

    #testo p, #come_arrivare p, #didascalia, #testo3 p, #about p, #about pre{
        font-size: 135%;
    }

    #eventi article div{
        font-size: 110%;
    }

    #eventi h1{
        font-size: 200%;
    }

    #eventi h5{
        font-size: 130%;
    }

    .euro{
        font-size: 190%;
    }


    #come_arrivare h1, #testo2 h1, #testo3 h1, #about h1{
        font-size: 200%;
    }

    form p, form span{
        font-size: 140%;
    }

    input, select{
        font-size: 140%;
        height: 55px;
        width: 100%;
    }

    #prezzo{
        font-size: 350%;
    }

    footer p{
        font-size: 105%;
    }
}


@media screen and (min-width:1120px){

    #menu{
        width: 90%;
    }

    #menu a{
        font-size: 110%;
    }

    #link1{
        font-size:225% ;
    }

    #testo p, #come_arrivare p, #didascalia, #testo3 p, #about p, #about pre{
        font-size: 180%;
    }

    #eventi article div{
        font-size: 130%;
    }

    #eventi h1{
        font-size: 225%;
    }

    #eventi h5{
        font-size: 150%;
    }

    .euro{
        font-size: 190%;
    }


    #come_arrivare h1, #testo2 h1, #testo3 h1, #about h1{
        font-size: 225%;
    }

    #t1,#t2,#t3{
        font-size: 150%;
    }

    #N,#N2,#tot{
        font-size: 250%;
    }

    form p, form span{
        font-size: 150%;
    }

    input, select{
        font-size: 150%;
        height: 55px;
        width: 100%;
    }

    #prezzo{
        font-size: 400%;
    }

    footer p{
        font-size: 100%;
    }

}


@media screen and (min-width:1200px){
    #menu a{
        font-size: 120%;
    }

    #eventi h5{
        font-size: 180%;
    }

    .euro{
        font-size: 200%;
    }

}

@media screen and (min-width:1300px){
    #menu a{
        font-size: 130%;
    }
}