/*GRIGLIA*/

#griglia{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
}


/*CAROSELLO*/

#carosello{
    grid-row: 2/3;
    width: 100%;
}

#foto {
    filter: brightness(85%);
    transition: opacity 1s ease-in-out;
    width: 100%;
    border: 0;
    padding: 0;
}


/*FRECCE*/

#frecce{
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#avanti, #indietro, #giu{
    width: 4%;
    border: 0;
    background-color: transparent;
}

#giu{
    width: 6%;
    filter: brightness(1000%);
}

#ind, #ava{
    padding: 0;
    width: 100%;
}

#avanti:hover, #indietro:hover{
    filter: opacity(50%);
}

#foto:hover{
    filter: brightness(100%);
}

#link1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background-color: #30362F;
    font-size: 225%;
    border-radius: 16px;
    padding: 0.5%;
    text-align: center;
    width: 50%;
}

#link1:hover{
    color: lightgrey;
}   

#link1:hover #giu{
    filter: brightness(500%);
}


/*ANIMAZIONE*/

#animazione{
    grid-row: 4/5;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}


/*EVENTI*/

#eventi{
    grid-row: 5/6;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

#eventi h1{
    margin: 2% 10% 2% 10%;
    grid-row: 1/2;
    font-size: 225%;
}

#eventi article{
    position: relative;
    border-radius: 16px;
    box-shadow: 10px 10px 5px 0px rgba(19,21,18,0.75);
}

article div{
    position: absolute;
    top: 15%;
    left: 30%;
    font-size: 140%;
    color: black;
}

#eventi a{
    margin: 1% 10% 1% 10%;
    color: black;
}

.freccia_av{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 7%;
}

.foto{
    width: 25%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    filter: brightness(80%);
}

#eventi article:hover .foto{
    filter: brightness(100%);
}

#eventi article:hover .freccia_av{
    filter: brightness(1000%);
}


#eventi h5{
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 100;
    font-size: 180%;
    width: 50%;
    text-align: center;
}

.euro{
    font-style: normal;
    font-size: 200%;
    text-align: center;
}

#cremonini{
    grid-row: 2/3;
    background-color: #6BB2DB;
}

#oasis{
    grid-row: 3/4;
    background-color: #3E3827;
}


#fulminacci{
    grid-row: 5/6;
    background-color: #D5DEE7;
}

#adele{
    grid-row: 4/5;
    background-color: #122432;
}

#calcutta{
    grid-row: 6/7;
    background-color: #636D70;
}

#jovanotti{
    grid-row: 7/8;
    background-color: #00ADAD;
}

.bianco{
    color: white;
}


/*FOOTER*/

footer{
    grid-row: 6/7;
}