#griglia{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
}

#mappa{
    grid-row: 3/4;
    width: 60%;
    margin: 2% 20% 2% 20%;
}


#come_arrivare{
    padding: 1% 10% 2% 10%;
    grid-row: 2/3;
}

#come_arrivare h1{
    font-size: 225%;
}

#come_arrivare p{
    font-size: 180%;
}

.freccia{
    width: 2.5%;
}

#bus, #auto{
    width: 15%;
    position: relative;
    left: 0;
}

.movimento{
    animation: movimento 4s forwards;
}

@keyframes movimento{
    0%{left: 0;}
    100%{left: 70%;}
}

#parcheggio{
    width: 10%;
    float: right;
    opacity: 0;
}

#palco_icona{
    width: 15%;
    float: right;
    transform: translate(0, -25%);
    opacity: 0;
}

.ingresso{
    animation: ingresso 5s ease-out forwards;
}

@keyframes ingresso {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#come_arrivare a{
    color: black;
}

#come_arrivare a:hover{
    font-weight: bold;
}


/*FOOTER*/


footer{
    grid-row: 4/5;
}


.info{
    transition: background-color 5s ease;
    background-color: yellow;
}

.info2{
    transition: background-color 5s ease;
    background-color: transparent;
}
