#griglia{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

#testo3{
    grid-row: 2/3;
    padding: 1% 10% 2% 10%;
}

#testo3 p{
    font-size: 180%;
}

.freccia{
    width: 2.5%;
}

.lista{
    padding-left: 5%;
}

#testo3 a{
    font-size: 80%;
    color: black;
    text-decoration: none;
}

#testo3 a:hover{
    font-weight: bold;
}


form{
    grid-row: 3/4;
    text-align: center;
    display: grid;
    margin: 0 15% 15% 15%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 1%;
}

form p, form span{
    font-size: 150%;
    font-weight: bold;
}

#concerti{
    grid-row: 2/3;
    grid-column: 1/2;
}

#num{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    padding-left: 25%;
}

#n_biglietti{
    grid-row: 2/3;
    grid-column: 2/3;
}

#dati{
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#persona1 {
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
    text-align: end;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contenitore_nuovo{
    grid-column: 1/2;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translate(0, 25%);
}

.icona_nuovo{
    width: 10%;
    filter: brightness(0);
}

#nome {
    grid-row: 1/2;
    grid-column: 2/3;
}

.nome_nuovo{
    grid-column: 2/3;
}

#cognome {
    grid-row: 2/3;
    grid-column: 2/3;
}

.cognome_nuovo{
    grid-column: 2/3;
}

#metodo_pagamento{
    grid-row: 5/6;
    grid-column: 1/2;
}

#n_carta_{
    grid-row: 4/5;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    padding-left: 25%;
}

.icona {
    width: 10%;
    margin-left: 4%;
    filter: brightness(0);
}

#n_carta{
    grid-row: 5/6;
    grid-column: 2/3;
}

#posto{
    grid-row: 6/7;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#selezione_posto{
    grid-row: 7/8;
    grid-column: 1/3;
    display: none;
    grid-template-columns: 2fr 1fr;
}

.ingresso{
    animation: ingresso 1s;
}

@keyframes ingresso {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

#selezione_posto img{
    grid-column: 1/2;
    width: 100%;
    margin: 0;
}

#settori{
    grid-column: 2/3;
    margin-top: 50%;
    width: 100%;
}

#p1{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 13%;
}

#p2{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
}

#p_1{
    grid-row: 2/3;
    grid-column: 1/2;
}

#p_2{
    grid-row: 2/3;
    grid-column: 2/3;
}

#prz{
    grid-row: 8/9;
    grid-column: 1/3;
}

#euro{
    font-size: 200%;
    text-decoration: none;
    font-style: normal;
}

#prezzo{
    grid-row: 9/10;
    grid-column: 1/3;
    margin-top: -2.5%;
    font-size: 400%;
}

#paga{
    grid-row: 10/11;
    grid-column: 1/3;
    background-color: #0B6623;
    color: white;
    height: 80px;
}

#paga:hover{
    font-weight: bold;
}

#carrello{
    grid-row: 10/11;
    grid-column: 1/3;
    width: 7%;
    filter: brightness(1000%);
    margin-right: 2%;
    justify-self: end;
    align-self: center;
}


input, select{
    text-align: center;
    font-size: 150%;
    height: 55px;
    margin: 1%;
    padding: 0.5%;
    border: black solid 1px;
}

select{
    background-color: lightskyblue;
}

select:hover{
    background-color: #63BFBA;
}

input:hover{
    background-color: #FAB387;
}

#prezzo:hover{
    background-color: white;
}

#n_biglietti:hover{
    background-color: #95FA87;
}

select, #paga{
    border-radius: 16px;
}

#controllo{
    grid-row: 11/12;
    color: white;
    border: none;
    width: 0px;

}

#controllo:hover{
    background-color: white;
    border: white;
}


.quad{
    margin-left: 33%;
    margin-right: 33%;
    width: 34%;
}


footer{
    grid-row: 4/5;
}